<% title('Sign up') %>

<%= render 'layouts/header' %>

<div class="col-md-12 height100 home-signup pos-relative">
	<div class="form centering-form" style="height: 327px;">
		<%= render 'devise/forms/sign_up' %>
	</div>
</div>

<%= render 'layouts/footer' %>
