<% title('Home') %>

<%= render 'layouts/header' %>

<div class="col-md-6 height100 home-signin pos-relative">
	<div class="form centering-form" style="height: 248px;">
		<%= render 'devise/forms/sign_in' %>
	</div>
</div>

<div class="col-md-6 height100 home-signup">
	<div class="form centering-form" style="height: 300px;">
		<%= render 'devise/forms/sign_up' %>
	</div>
</div>

<%= render 'layouts/footer' %>
