<% title('Sign in') %>

<%= render 'layouts/header' %>

<div class="col-md-12 height100 home-signin pos-relative">
	<div class="form centering-form" style="height: 275px;">
		<%= render 'devise/forms/sign_in' %>
	</div>
</div>

<%= render 'layouts/footer' %>
