<% flash.each do |name, msg| %>
  <% if msg.is_a?(String) %>
  	<div class="container" style="margin-top:10px;">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2">
			    <div class="alert alert-<%= name == "notice" ? "success" : "danger" %>">
			      <button type="button" class="close" data-dismiss="alert" aria-hidden="true"><i class="fa fa-check"></i></button>
			      <%= content_tag :div, msg, :id => "flash_#{name}" %>
			    </div>
			  </div>
			</div>
		</div>
  <% end %>
<% end %>
